/* .container{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.mini-container{
  display: flex;
  flex-direction: row;
}

.btn{
  height: 50px;
  width: 50px;
} */